.table {
  width: 100%;
  border-spacing: 0;
  font-size: 0.87rem !important;
  clear: both;
  max-width: none !important;
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 10px;
  text-align: center;
}

.table thead {
  color: #111827;
  border-radius: 13px !important;
}

.table th {
  background: #edf4ff;
  position: sticky;
  top: 0;
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

.table td {
  padding: 12px;
  border: 1px solid #eff2f5;
  background: #fafbfc;
  color: #7e8299 !important;
}

.table .headIndex,
.table .indexCell {
  text-align: center;
}
