/* .filterButton {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filterButton:hover {
  background: #f3f4f6;
} */

.tableContainer {
  margin-bottom: 13px;
  background: #f6f6f6;
  box-shadow: inset 1px 2px 2px #00000014;
  border-radius: 16px;
  padding: 13px;
}

.tableWrapper {
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 10px;
  max-height: 400px;
  scrollbar-color: #e9edf1 transparent;
}

.table {
  width: 100%;
  border-spacing: 0;
  font-size: 0.87rem !important;
  clear: both;
  max-width: none !important;
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 10px;
  text-align: center;
}

.table thead {
  color: #111827;
  border-radius: 13px !important;
}

.table th {
  background: #d9e9ff;
  position: sticky;
  top: 0;
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

.table td {
  padding: 12px;
  border: 1px solid #eff2f5;
  background: #fafbfc;
  color: #7e8299 !important;
}

.table .headIndex,
.table .indexCell {
  text-align: center;
}
